html{
  scroll-behavior: smooth;
 
  
}
h1, h2, h3, h4, h5{
  font-family: 'Merriweather Sans', serif;
  line-height: 50px;
}
body {
  margin: 0;
font-family: 'Nunito Sans', sans-serif;
line-height: 25px;
font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
