* {
    margin: 0;
    padding: 0;
}

:root {
    --blanco: #f4f7ed;
    --verde-claro: #74dd4f;
    --verde-oscuro: #2e6e65;
    --azul: #2f3f6d;

}

.footer-container{
    background-color: var(--verde-oscuro);
    color: var(--blanco);
    height: 90px;
}