*{
    margin: 0;
    padding: 0;
    scroll-margin-top: 150px;
}

:root{
    --blanco:#f4f7ed;
    --verde-claro:#86ee60;
    --verde-oscuro:#2e6e65;
    --azul:#2b3752;

}
/* .header-container{
    position: relative;
    width: 100vw;
} */
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2px;
    background-image: linear-gradient(#ffffff, #fdfdfd, #fafbfb, #f6fafa, #f2f8f8);;
    position: fixed;
    width: 100%;
    z-index: 10000;
    height: 140px;

}
.header-scrolling{
    box-shadow: 2px 2px 3px 4px #222;
}

.logo-container{
    background-color: transparent;
    margin-left: 15px;
}

.logo{
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.titulo-container {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.titulo-container .titulo a{
    font-size: 55px;
    font-weight: bold;
    color:var(--verde-oscuro);
    text-shadow: 2px 4px 6px #cecece;
    text-decoration: none;
}
.titulo-container .titulo br{
    display: none;
}
.titulo-container .subtitulo a{
    font-size: 26px;
    font-weight: bold;
    color: var(--azul);
    text-shadow: 2px 4px 6px #dedede;
    text-decoration: none;
}

.titulo-container:hover{
    animation-name: scaler;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    cursor: pointer;
}


/* nav */
.nav-container{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
    margin-left: 3%;
}
.nav-container nav{
    height: 100%;
    display: flex;
    align-items:flex-end;
    width: 100%;
    margin-bottom: 15px;
   
}

.nav-container .nav ul{
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    width: 100%;
    
}

.nav-container .nav ul li{
    list-style: none;
    font-size: 19px;
    font-weight: bold;
    margin: 0 16px 15px 6px;
    position: relative;
    color: var(--verde-oscuro);
    text-shadow: 2px 4px 6px #e3e3e3;
    text-decoration: none;
}
 .nav-container .nav ul li a {
     font-size: 19px;
     text-decoration: none;
     cursor: pointer;
 }
  .nav-container .nav ul li a:visited{
    color: var(--verde-oscuro); ;
  }
.nav-container .nav ul li:hover{
    color: var(--azul);
    animation: scaler .5s;
    animation-fill-mode: forwards;
    
}

.menu-logo-container{
    display: none;
}

.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    min-height: 100%;
    width: 100%;
    z-index: 1000;
}

/* asside nav */
.aside-nav-container {
    display: inline;
    position: fixed;
    left: -100%;
    top: 0;
    background-image: linear-gradient(to right, #FFFFFF, #FDFDFD, var(--blanco), #e2e2e2);
    z-index: 2000;
    list-style: none;
    width: 30%;
    height: fit-content;
    animation: aparecerNav .8s forwards 0s ease-out;
    border-bottom-right-radius: 4px;
}

.aside-nav-container .aside-nav ul{
    display: flex;
    flex-direction: column;
}

.aside-nav-container .aside-nav ul li{
    list-style: none;
    font-size: 32px;
    font-weight:600;
    margin: 30px 10px 30px 0;
    cursor: pointer;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    color: var(--verde-oscuro);
}
.aside-nav-container .aside-nav ul li a{
    text-decoration: none;
}
.aside-nav-container .aside-nav ul li a:visited{
    color: var(--verde-oscuro);
}

.aside-nav-container .aside-nav ul li:hover{
    color: var(--verde-claro);
    animation-name: scaler;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.aside-nav-hiden{
    position: absolute;
    left: -100%;
    top: -100%;
}

/* animations */
@keyframes scaler {
    from{
        transform: scale(1);
    }
    to{
        transform:scale(1.02);
    }
}
@keyframes aparecerNav{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}

/* media queris */
@media screen and (max-width: 1300px){
        .header {
                height: 140px;
            }
        .titulo-container .titulo a {
                font-size: 40px;
        }
        /* .titulo-container .titulo br{
            display: inline;
        } */
        .titulo-container .subtitulo a {
            font-size: 21px;
        }
    
        .nav-container .nav ul li {
            font-size: 22px;
        }
        .logo{
            /* margin:auto; */
            width: 110px;
            height: 110px;
        }
    
        
        }
@media screen and (max-width: 1105px) {
   .nav-container{
    display: none;
   }

   .titulo-container{
    margin-left: 20%;
   }
    .menu-logo-container {
        display: inline;
        background-color: var(--blanco);
        border-radius: 50%;
        color: var(--verde-oscuro);
        height: 55px;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: .5px 2px 2px 2px rgba(50, 50, 50, .5);
        cursor: pointer;
    }
}
@media screen and (max-width: 1000px) {

   .titulo-container{
    margin-left: auto;
   }  
}

@media screen and (max-width: 900px){
    /* .titulo-container{
        margin-left:auto;
    } */
    .logo{
        width: 110px;
        height: 110px;
    }
    .titulo-container .titulo  a{
        font-size: 40px;
    }
    .titulo-container .subtitulo a{
        font-size: 22px;
    }
    .nav-container{
        display: none;
    }

    
    .menu-logo-container:hover {
        color: var(--verde-claro);
        animation-name: scaler;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }
    
    .menu-logo-container .menu-logo {
        font-weight: bold;
        font-size: 25px;
    
    }
}
@media screen and(max-width:70px){
.titulo-container{
    margin: auto;
}
}
@media screen and (max-width: 550px){
    .header{
       height: 100px;
    }
    .logo-container {
        margin: auto 5px auto 7px;
    }
    .logo{
        width: 71px;
        height:71px;
        margin: 0;
    }
    .titulo-container{
        margin: auto;
    }
    .titulo-container br{
       display: none;
    }
    .titulo-container .titulo{
        line-height: 32px;
    }
    .titulo-container .subtitulo{
        font-size: 13px;
        line-height: 32px;
    }

    .titulo-container .titulo a{
    font-size: 25px;
    line-height: 18px;
   
}
  
    .titulo-container .subtitulo a{
        font-size: 13px;
        line-height: 18px;
        
    }
    .menu-logo-container{
        height: 35px;
        width: 35px;
    }
    .aside-nav-container .aside-nav ul li{
        font-size: 18px;
        
    }

}