* {
    margin: 0;
    padding: 0;
}

:root {
    --blanco: #f4f7ed;
    --verde-claro: #86ee60;
    --verde-oscuro: #2e6e65;
    --azul: #2b3752;

}

.carousel-container{
    display: flex;
 height: 84vh;
 width: 100%;
 position: relative;
 /* object-fit: contain; */
}

.carousel-container .carousel-img{
    height: 84vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    /* animation: slide 3s; */
}

.carousel-container .prev-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    z-index: 1000;
    position: relative;
    left: 40px;
    top: 50%;
    opacity: .5;
    cursor: pointer;
    background-color: var(--blanco);
    border: 2px solid #2e6e65;
    color: var(--azul);
}
.carousel-container .next-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    z-index: 1000;
    position: absolute;
    right: 40px;
    top:50%;
    opacity: .5;
    cursor: pointer;
    background-color:var(--blanco);
    border: 2px solid #2e6e65;
    color: var(--azul);
}

@keyframes slide{
    0%{
        left:0;
    }
    100%{
        right:100vh;
    }
    
}