* {
    margin: 0;
    padding: 0;
}

:root {
    --blanco: #f4f7ed;
    --verde-claro: #86ee60;
    --verde-oscuro: #2e6e65;
    --azul: #2b3752;

}

.form-container{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 700px;
    width: 95%;
    margin: 40px 0 15px 20px;
    border: 1px solid #222;
    box-shadow: 8px 10px 10px 8px #cecece;
    border-radius: 6px;
}

.form-card{
    height: 80%;
    margin: 10px;
}

.form-card .form-title-container{
    border: none;
}

.form-card .form-title-container .form-title{
    color: var(--verde-oscuro);
    font-size: 35px;
    margin:10px 0;
    text-shadow: 2px 4px 6px #d8d8d8;

}

.form-card .form-card-img{
height: 300px;
width: 300px;
object-fit: cover;
margin-bottom: 10px;
border-radius: 50%;
box-shadow: 1px 2px 4px 5px #cecece;
}


.form-card p{
 margin-bottom: 40px;
 color: var(--azul);
 font-size: 18px;
}

.form-card .icons-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin:15px auto 0 auto ;
}

.form-card .icon-container{
width: 50%;
}


.form-card .icon-container :first-child{
    height: 60px;
    margin: 10px;
    width: 60px;
    color: var(--verde-oscuro);
    cursor: pointer;
}

.form-card .icon-container :first-child:hover{
    color: var(--verde-claro);
}



.form-container .form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
    margin-top: 100px;
    

}

.form-container .form form-control .form-input{
    width: 80%;
    height: 25px;
    background-color: #f2f8f8;
    color: var(--azul);
    border: .3px solid var(--azul);
    border-radius: 6px;
    padding-left: 7px;
    margin: 15px auto;
}

.form-container .form form-control .form-input:focus{
    border: none;
    outline: 2px solid var(--verde-claro);
    
}

.form-container .form .form-text-area{
    width: 80%;
    background-color:#f2f8f8;
    color: var(--azul);
    border: .3px solid var(--azul);
    border-radius: 6px;
    padding-left: 7px;
    margin: 15px auto;
    }


.form-container .form .form-text-area:focus{
    border: none;
    outline: 2px solid var(--verde-claro);
}


.form-container .form button{
    width: 20%;
    height:140px;
    text-align: center;
    background-color: var(--verde-oscuro);
    color: var(--blanco);
    margin: 40px auto 10px auto;
    border-radius: 6px;
    box-shadow: 8px 10px 10px 8px #cecece;
    font-size: 30px;
    cursor: pointer;
    letter-spacing: 1.3px;
}

.form-container .form button:hover{
    background-color: var(--verde-claro);
    opacity: .5;
    color:#111;
}


@media screen and (max-width: 1150px){
    .form-container .form-card .form-card-img{
        height: 280px;
        width: 280px;
    }
    .form-container .form button{
        font-size: 26px;
    }
}
@media screen and (max-width: 1000px) {
    .form-container .form-card .form-card-img {
            height: 250px;
            width: 250px;
        }
        /* .form-card .icon-container :first-child {
            height: 50px;
            width: 50px;
        } */
    
        .form-container .form button {
            font-size: 23px;
        }
}
@media screen and (max-width: 800px){
    /* .form-container .form-card .form-card-img {
            height: 230px;
            width: 230px;
        }
        .form-container .form button {
            font-size: 20px;
        } */

        .form-container{
            width: 94%;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 4px 6px 3px #cecece;
            margin: 40px 0 15px 20px;
        }
        .form-container .form-card{
            height: 50%;
        }
        .form-container .form-card .form-card-img {
            height: 140px;
            width: 140px;
        }
        .form-card .icons-container{
            flex-wrap: nowrap;
            justify-content: space-around;
        }
        .form-card .icons-container .icon-container{
            width: 30%;
        }
      
        .form-card .icons-container .icon-container :first-child {
            height: 35px;
            width: 35px;
          
        }

        .form-container .form{
            margin-top: 15px;
            height: 50%;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .form-container .form form-control{
            width: 50%;
            margin: 0;
        }
        .form-container .form form-control .form-input{
            width: 87%;
            height: 30px;
            margin: 0;
      
        } 

        .form-container .form form-control .form-text-area{
            width: 87%;
            margin: 0;
        } 

        .form-container .form button{
            width: 50%;
            height: 40px;
            margin: 0;
            box-shadow: 2px 4px 6px 3px #cecece;
        }

}

@media screen and (max-width: 450px){
 .form-container{
    margin: 40px 0 15px 14px;
    width: 93%;
 }
}
